<% include partials/header%>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src=<%= campground.image%>>
                <div class="caption-full">
                    <div>
                        <h4><a><%= campground.name%></a> <span class="price float-right"><%= campground.cost%>  $</span></h4>
                    </div>
                    <p><%= campground.description%></p>
                    <p>
                        <em>Submitted by: Zosoist</em>
                    </p>
                    <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id%>/edit">Edit</a>
                    <form class="delete-btn" action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST" class="delete-form">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            </div>
            <div class="well container">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id%>/comments/new" >Add A New Comment</a>
                </div>
                <hr>
                <div class="row">
                    <%campground.comments.forEach(function (comment) { %>
                        <div class="col-md-12">
                            <div style="margin-bottom: 10px">
                                <strong>Bahman Alaedin</strong>
                                <span class="float-right">Today</span>
                            </div>
                            <div>
                                <span class="comment-text"><%= comment.text%></span>
                                <div class="float-right">
                                    <a href="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>/edit" class="btn btn-sm btn-warning">Edit</a>
                                    <form class="delete-btn" action="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                </div>
                                <hr>
                            </div>
                        </div>
                    <% })%>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer%>